/* Full-screen vertical scrolling container */
.video-feed {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* Each video covers the full screen */
.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background: black;
}

/* Video fits the full container */
.video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Overlay content (description + button) */
.video-overlay {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: start;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* Description text (2-line truncation) */
.video-description {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Max 2 lines */
  -webkit-box-orient: vertical;
}

/* Button styling */
.visit-store-btn {
  background:#ffd75f;
  border: none;
  width: 20%;
  padding: 15px 0px;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color:  #0f172a;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.visit-store-btn:hover {
  background: #e60045;
  color: white;
  transform: scale(1.05);
}
